In [1]:
sql ="""
select item.codename, item.startep, item.endep, 
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from 
anal_zzitems_D_5_5 as item 
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
"""

In [2]:
import pandas as pd
import numpy as np
from db.mydf import MyDf
mydf = MyDf()
mydf.read_sql(sql)

2023-01-15 20:13:49 | (pymysql.err.OperationalError) (1052, "Column 'x0' in field list is ambiguous")
[SQL:
select item.codename, item.startep, item.endep,
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from
anal_zzitems_D_5_5 as item
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
2023-01-15 20:13:51 | (pymysql.err.OperationalError) (1052, "Column 'x0' in field list is ambiguous")
[SQL:
select item.codename, item.startep, item.endep,
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from
anal_zzitems_D_5_5 as item
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
2023-01-15 20:13:53 | (pymysql.err.OperationalError) (1052, "Column 'x0' in field list is ambiguous")
[SQL:
select item.codename, item.startep, item.endep,
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from
anal_zzitems_D_5_5 as item
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
2023-01-15 20:13:56 | (pymysql.err.OperationalError) (1052, "Column 'x0' in field list is ambiguous")
[SQL:
select item.codename, item.startep, item.endep,
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from
anal_zzitems_D_5_5 as item
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
2023-01-15 20:14:00 | tried to connect 5 times

OperationalError: (pymysql.err.OperationalError) (1052, "Column 'x0' in field list is ambiguous")
[SQL:
select item.codename, item.startep, item.endep,
meanx, meany, stdx, stdy,
x0,x1,x2,x3,x4, y0,y1,y2,y3,y4 from
anal_zzitems_D_5_5 as item
left join anal_zzkmstats_D_5_5 ks on item.km_groupid = ks.km_groupid
where km_groupid = '1110-0000000002';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)