In [2]:
import __init__

sql = """
(select km_setid, greatest(dpeak_cnt/(dpeak_cnt+dtrend_cnt),dtrend_cnt/(dpeak_cnt+dtrend_cnt), 
upeak_cnt/(upeak_cnt+utrend_cnt),utrend_cnt/(upeak_cnt+utrend_cnt)) score2, score, item_cnt
from anal_zzkmcandlestats_D_5_3

where item_cnt >= 500)
order by score2 desc
"""

import pandas as pd
import numpy as np
from db.mydf import MyDf
mydf = MyDf()
df = mydf.read_sql(sql)
df

Empty DataFrame
Columns: [km_setid, score2, score, item_cnt]
Index: []

In [2]:
df.corr()

/tmp/ipykernel_2957/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,km_setid,item_cnt,dpeak_cnt,dtrend_cnt,upeak_cnt,utrend_cnt,score,mean,std
km_setid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_cnt,NaN,1.000000,0.987452,0.975039,0.986015,0.982715,-0.174860,NaN,-0.038850
dpeak_cnt,NaN,0.987452,1.000000,0.989087,0.949914,0.945106,-0.147752,NaN,-0.043867
dtrend_cnt,NaN,0.975039,0.989087,1.000000,0.928581,0.921027,-0.191288,NaN,-0.038282
upeak_cnt,NaN,0.986015,0.949914,0.928581,1.000000,0.993991,-0.158743,NaN,-0.033890
utrend_cnt,NaN,0.982715,0.945106,0.921027,0.993991,1.000000,-0.198831,NaN,-0.036731
score,NaN,-0.174860,-0.147752,-0.191288,-0.158743,-0.198831,1.000000,NaN,-0.008761
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,-0.038850,-0.043867,-0.038282,-0.033890,-0.036731,-0.008761,NaN,1.000000